 

.container-landingPage {
  background-image: url(./images/background-image.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 100px;
  opacity: 0.9;
}

.header-landingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0;
  max-width: 800px;
  width: 100%;
}

.header-title {
  font-size: 60px;
  font-weight: bold;
  color: darkred;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 1.5;
  display: inline-block;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 28px;
  }
}
