.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #51a9a9;
  color: #fff;
}

.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-button {
  margin-left: 10px;
  color: #fdf8f2;
  border: none;
  padding: 10px 20px;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.logout-button {
  margin-left: 10px;
  color: #fdf8f2;
  border: none;
  padding: 10px 20px;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #51a9a9;
}

.navbar-username-container {
  margin-left: 30px;
  color: #fdf8f2;
  border: none;
  padding: 10px 20px;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;

  background-color: #51a9a9;
}

.navbar-username {
  margin-right: 20px;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-button:hover {
  background-color: #d46e6e;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.logout-button:hover {
  background-color: #d46e6e;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

@media (max-width: 767px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }
  .navbar-right {
    margin-left: 0;
    margin-bottom: 20px;
    flex-direction: column;
  }
}
