* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.title {
  font-size: 22px;
  display: flex;
}

.home {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.butons {
  display: flex;
  font-size: 22px;
}

.butons a {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.butons button {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
 */

/* .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.title {
  font-size: 22px;
  display: flex;
}

.home {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.butons {
  display: flex;
  font-size: 22px;
}

.butons a {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.butons button {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
} */

main {
  padding-top: 50px;
}

.checkFood {
  border: 2px solid gray;
  padding: 2px;
}

.checkFood:hover {
  background-color: aqua;
  cursor: pointer;
}

.locationPicker {
  border: 2px solid black;
  padding: 5px;
}

.singleLocation {
  border: 1px solid black;
  padding: 3px;
}
